@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Body Styles */
body {
  font-family: "Azeret Mono", monospace;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  margin-top: 35px;
}

.header a {
  text-decoration: none;
}

.header .btn {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  border-style: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  margin: 10px 0;
}

/* Banner Styles */
.banner {
  background-image: url("../assets/Hero-bg.png");
  background-size: cover;
  width: 1440px;
  height: 652px;
  background-position: center;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}

.banner h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
}

.banner p {
  color: rgba(18, 18, 19, 0.853);
  font-family: Azeret Mono;
  font-size: 25px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}

.banner img {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  opacity: 45%;
  transition: opacity 5.5s ease;
}

.banner .btn {
  display: inline-block;
  background: rgb(13, 19, 33);
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  margin-top: 35px;
  border-radius: 5px;
  border-style: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  font-size: 20px;
}

.banner .btn:hover {
  background-color: #0056b3;
}

/* Why Web Development Styles */
.why-web-development {
  max-width: 1440px;
  max-height: 1395px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 50px;
}

.why-web-development h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: rgb(13, 19, 33);
}

.why-web-development p {
  font-size: 16px;
  color: rgb(13, 19, 33);
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #ffffffe6;
  margin: 20px 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card .content {
  flex: 1;
  text-align: left;
}

.card .content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card .content p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  max-width: 90%;
}

.card .content button {
  padding: 10px 20px;
  font-size: 20px;
  color: rgb(13, 19, 33);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}

.card .content button:hover {
  background-color: #0056b3;
}

.card .image {
  text-align: right;
}

.card .image img {
  max-width: 100%;
  border-radius: 8px;
}

/* Inspiration Styles */
.inspiration {
  text-align: center;
  padding: 50px 0;
  max-width: 1440px;
  margin: 0 auto;
  height: 775px;
  max-width: 1140px;
  display: block;
}

.inspiration h2 {
  font-size: 48px;
  color: #405e7d;
}

.inspiration p {
  font-size: 24px;
  color: #405e7d;
  width: 100%;
  margin: 0 auto;
}

.inspiration .video-container {
  margin-top: 20px;
  width: 100%;
}

/* Current Target Styles */
.current-target {
  text-align: center;
  padding: 50px 0;
  max-width: 1140px;
  margin: 0 auto;
  height: 775px auto;
  margin-top: 200px;
}

.current-target .cards {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.current-target .card2 {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-align: left;
}

.current-target .card2 img {
  max-width: 100%;
  height: auto;
}

.current-target .card2 a {
  display: block;
  margin-top: 10px;
  color: black;
  transition: color 0.5s ease;
  font-size: 21px;
  font-weight: bold;
}

.current-target .card2 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.current-target .card2 p {
  font-size: 20px;
  margin-top: 10px;
}

.current-target .card2 h3 {
  font-size: 24px;
}

/* My Next Target Styles */
.my-next-target {
  width: 1140px;
  height: 1437px auto;
  margin: 0 auto;
  margin-bottom: 45px;
}

.my-next-target .heading {
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
}

.my-next-target .heading h2 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
}

.my-next-target .heading p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.my-next-target .card3 .icon {
  display: flex;
  border: 5px solid #c4f7fc;
  margin-bottom: 15px;
  border-radius: 10px;
  padding-bottom: 25px;
  padding-right: 15px;
}

.my-next-target .card3 .icon .icon-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  margin-top: 55px;
}

.my-next-target .card3 .icon .icon-image img {
  align-items: center;
}

.my-next-target .card3 .icon .details {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.my-next-target .card3 .icon .details h3 {
  font-size: 24px;
  font-weight: 800;
}

.my-next-target .card3 .icon .details a {
  font-family: 16px;
  font-weight: 700;
}

/* Support Styles */
.support {
  text-align: center;
  padding: 50px 0;
  background-image: url("../assets/handshake.jpg");
  width: 1140px;
  height: 213px;
  margin: 0 auto;
  margin-top: 15px;
  background-size: cover;
  margin-bottom: 55px;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2);
}

.support h2 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}

.support p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.support-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.support-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 25px;
  font-family: Azeret Mono;
}

.support-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 25px;
  transition: background-color 0.5s ease;
  font-family: Azeret Mono;
}

.support-form button:hover {
  background-color: #0056b3;
}

/* Footer Styles */
footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .left {
  margin-left: 20px;
}

footer .left p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

footer .right a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

footer .right a:hover {
  text-decoration: underline;
}
