@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");

/* Body Styles */
body {
  font-family: "Playwrite GB S", cursive;
  margin: 0;
  padding: 0;
}

/* Banner Styles */
.banner {
  background-image: url("../assets/banner.png");
  background: linear-gradient(180deg, rgb(22, 65, 137), rgb(141, 22, 141));
  background-size: cover;
  max-width: 70%;
  max-height: 15%;
  background-position: center;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
}

.banner h1 {
  font-size: 48px;
}

.banner p {
  font-size: 30px;
}

.banner img {
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  opacity: 55%;
}

.banner .btn {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 35px;
  border-radius: 5px;
  border-style: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  font-size: 20px;
}

.banner .btn:hover {
  background-color: #0056b3;
}

/* Why Web Development Styles */
.why-web-development {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 50px 0;
}

.why-web-development .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #405e7d;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(48, 89, 202, 0.1);
}

.why-web-development .card img {
  max-width: 150px;
  margin-right: 20px;
  margin-left: 20px;
}

.why-web-development .card .text {
  max-width: 300px;
}

.why-web-development .card .text h2 {
  margin-top: 0;
  color: chartreuse;
}

.why-web-development .card .text p {
  text-align: justify;
  height: 250px;
}

.why-web-development .card .text .btn {
  display: inline-block;
  background-color: #0c784f;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  border-radius: 5px;
  border-style: none;
  transition: background-color 0.5s ease;
  cursor: pointer;
  font-size: 20px;
}

.why-web-development .card .text .btn:hover {
  background-color: #00674d;
}

/* Inspiration Styles */
.inspiration {
  text-align: center;
  padding: 50px 0;
}

.inspiration h2 {
  font-size: 48px;
  color: #405e7d;
}

.inspiration p {
  font-size: 24px;
  color: #405e7d;
  width: 60%;
  margin: 0 auto;
}

.inspiration .video-container {
  margin-top: 20px;
}

/* Current Target Styles */
.current-target {
  text-align: center;
  padding: 50px 0;
  max-width: 65%;
  margin: 0 auto;
}

.current-target .cards {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.current-target .card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.current-target .card img {
  max-width: 100%;
  height: auto;
}

.current-target .card a {
  display: block;
  margin-top: 10px;
  color: #7025e1;
  text-decoration: none;
  transition: color 0.5s ease;
  font-size: 21px;
}

.current-target .card a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Support Styles */
.support {
  text-align: center;
  padding: 50px 0;
}

.support h2 {
  font-size: 40px;
}

.support p {
  font-size: 24px;
}

.support-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.support-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-size: 25px;
  font-family: "Playwrite GB S", cursive;
}

.support-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 25px;
  transition: background-color 0.5s ease;
  font-family: "Playwrite GB S", cursive;
}

.support-form button:hover {
  background-color: #0056b3;
}

/* Footer Styles */
footer {
  background-color: #16b435;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .left {
  margin-left: 20px;
}

footer .left p {
  font-size: 19px;
  color: black;
}

footer .right a {
  display: inline-block;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

footer .right a:hover {
  text-decoration: underline;
}

address a {
  text-decoration: none;
}
